<script setup lang="ts">
import { z } from 'zod';


const routeParamsSchema = z.object({
    id: z.string()
})

const fieldSchema = z.object({
    name: z.string(),
})

const dataSchema = z.object({
    id: z.string()
}).catchall(z.any())

const route = useRoute()
const parsedParams = routeParamsSchema.safeParse(route.params);
const id = parsedParams.success ? parsedParams.data.id : ""

const SHEET_BASE_API_URL = "http://localhost:8080/sheet"
const SHEET_API_URL = SHEET_BASE_API_URL + `/${id}`
const FIELD_API_URL = `http://localhost:8080/field/${id}`

const { data: initialFieldList } = await useFetch(FIELD_API_URL)
const fieldListResult = z.array(fieldSchema).safeParse(initialFieldList.value)
const fieldList = ref(fieldListResult.success ? fieldListResult.data : []);

const { data: initialSheetData } = await useFetch(SHEET_API_URL)
const dataListResult = z.array(dataSchema).safeParse(initialSheetData.value)
const dataList = ref(dataListResult.success ? dataListResult.data : [])

const fieldName = ref("")
async function addField() {
    if (fieldName.value.length != 0) {
        await useFetch(FIELD_API_URL, {
            method: "POST",
            params: {
                name: fieldName.value
            }
        })

        fieldList.value.push({ name: fieldName.value })
    }
}

async function deleteField(index: number) {
    await useFetch(FIELD_API_URL, {
        method: "DELETE",
        params: {
            name: fieldList.value[index].name
        }
    })

    fieldList.value.splice(index, 1)
}

async function createDataRow() {
    const { data: createResult } = await useFetch(SHEET_API_URL, {
        method: "POST",
        body: {}
    })

    const idResult = z.string().safeParse(createResult.value)
    console.log(idResult)
    dataList.value.push({ id: idResult.success ? idResult.data : "" })
}

async function deleteData(index: number) {
    await useFetch(SHEET_API_URL, {
        method: "DELETE",
        params: {
            id: dataList.value[index].id
        }
    })

    dataList.value.splice(index, 1)
}

async function saveData(index: number) {
    await useFetch(SHEET_API_URL, {
        method: "POST",
        body: dataList.value[index]
    })
}
</script>

<template>
    <p>Hey! {{ id }}</p>
    add column
    <input type="text" v-model="fieldName" placeholder="column name">
    <button @click="addField">submit</button>
    <br>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="border: 1px solid black; padding: 1vh;" v-for="(field, index) in fieldList" :key="field.name">{{
                field.name }}
                <button @click="() => deleteField(index)">X</button>
            </th>
            <th style="border: 1px solid black; padding: 1vh;">actions</th>
        </tr>
        <tr v-for="(data, index) in dataList" :key="data.id">
            <td style="border: 1px solid black; padding: 1vh;" v-for="field in fieldList" :key="data.id + field.name">
                <input type="text" @change="event => dataList[index][field.name] = (event.target as HTMLInputElement).value"
                    :value="`${data[field.name] ?? ''}`" />
            </td>
            <td style="border: 1px solid black; padding: 1vh;">
                <button @click="() => saveData(index)">save</button>
                <button @click="() => deleteData(index)">delete</button>
            </td>
        </tr>
    </table>
    <br>
    <button @click="createDataRow">add row</button>
</template>