<script setup lang="ts">
import { z } from 'zod';


const routeParamsSchema = z.object({
    id: z.string()
})

const route = useRoute()
const parsedParams = routeParamsSchema.safeParse(route.params);
const id = parsedParams.success ? parsedParams.data.id : ""

const FUNC_API_URL = `http://localhost:8080/func/${id}`
const SHEET_API_URL = 'http://localhost:8080/sheet'

const sheetSchema = z.object({
    id: z.string(),
    name: z.string()
})

const funcSchema = z.object({
    id: z.string(),
    name: z.string(),
    fileId: z.string().nullable(),
    sheetIds: z.array(z.string()).nullable(),
})

const { data } = await useFetch(FUNC_API_URL)
const func = ref(funcSchema.parse(data.value))


// fetch all of the existant sheets from the server
const { data: initialSheetList } = await useFetch(SHEET_API_URL)
const sheetListResult = z.array(sheetSchema).safeParse(initialSheetList.value)

const sheetList = sheetListResult.success ? new Map(sheetListResult.data.map((sheet) => [sheet.id, sheet.name])) : new Map()
const selectedSheetList = new Map()

if (func.value.sheetIds != null) {
    for (const sheetId of func.value.sheetIds) {
        selectedSheetList.set(sheetId, sheetList.get(sheetId))
        sheetList.delete(sheetId)
    }
}


const uploadForm = ref<HTMLFormElement | null>(null)
async function upload() {
    if (uploadForm.value != null) {
        const formData = new FormData(uploadForm.value)

        if (formData.has("file")) {
            const { data: uploadedId } = await useFetch(FUNC_API_URL + "/upload", {
                method: "POST",
                body: formData
            })

            const idResult = z.string().safeParse(uploadedId.value)
            if (idResult.success) {
                func.value.fileId = idResult.data
            }
        }
    }
}

const selectedSheetIds = ref<string[]>(Array.from(selectedSheetList.keys()))
async function saveSheetIds() {
    await useFetch(FUNC_API_URL + "/sheets", {
        method: "POST",
        params: {
            sheetIds: selectedSheetIds.value
        }
    })
}
</script>

<template>
    <p>This is the {{ func.name }}() function</p>
    <form @submit.prevent="saveSheetIds">
        <p>Select your sheet inputs</p>
        <div v-for="[sheetId, sheetName] in sheetList">
            <input type="checkbox" :id="sheetId" :value="sheetId" v-model="selectedSheetIds">
            <label :for="sheetId">{{ sheetName }}</label>
        </div>
        <div v-for="[sheetId, sheetName] in selectedSheetList">
            <input type="checkbox" :id="sheetId" :value="sheetId" v-model="selectedSheetIds">
            <label :for="sheetId">{{ sheetName }}</label>
        </div>
        <br />
        <button type="submit">save</button>
    </form>
    <hr />
    <p v-if="func.fileId != null">File Got Cashed On Runtime</p>
    <form @submit.prevent="upload" ref="uploadForm">
        <p>Upload a function</p>
        <input name="file" type="file" />
        <button type="submit">upload</button>
    </form>
</template>