<script setup lang="ts">

import { z } from 'zod'

const SHEET_API_URL = 'http://localhost:8080/sheet'
const FUNC_API_URL = 'http://localhost:8080/func'

const sheetSchema = z.object({
    id: z.string(),
    name: z.string()
})

const funcSchema = z.object({
    id: z.string(),
    name: z.string()
})

// fetch all of the existant sheets from the server
const { data: initialSheetList } = await useFetch(SHEET_API_URL)
const sheetListResult = z.array(sheetSchema).safeParse(initialSheetList.value)

const sheetList = ref(sheetListResult.success ? sheetListResult.data : [])

// fetch all of the existant functions from the server
const { data: initialFuncList } = await useFetch(FUNC_API_URL)
const funcListResult = z.array(funcSchema).safeParse(initialFuncList.value)

const funcList = ref(funcListResult.success ? funcListResult.data : [])

const sheetName = ref("")
async function createSheet() {
    if (sheetName.value.length != 0) {
        const { data: createSheetResponse } = await useFetch(SHEET_API_URL, {
            method: "POST",
            params: {
                name: sheetName.value
            }
        })

        const parsedSheetId = z.string().safeParse(createSheetResponse.value)
        if (parsedSheetId.success) {
            sheetList.value.push({ id: parsedSheetId.data, name: sheetName.value })
        }
    }
}

async function deleteSheet(index: number) {
    await useFetch(SHEET_API_URL, {
        method: "DELETE",
        params: {
            id: sheetList.value[index].id
        }
    })

    sheetList.value.splice(index, 1)
}

const funcName = ref("")
async function createFunc() {
    if (funcName.value.length != 0) {
        const { data: createFuncResponse } = await useFetch(FUNC_API_URL, {
            method: "POST",
            params: {
                name: funcName.value
            }
        })

        const parsedFuncId = z.string().safeParse(createFuncResponse.value)
        if (parsedFuncId.success) {
            funcList.value.push({ id: parsedFuncId.data, name: funcName.value })
        }
    }
}

async function deleteFunc(index: number) {
    await useFetch(FUNC_API_URL, {
        method: "DELETE",
        params: {
            id: funcList.value[index].id
        }
    })

    funcList.value.splice(index, 1)
}
</script>

<template>
    <h1>Sheets</h1>
    <hr />

    <ul>
        <li style="padding: .75vh;" v-for="(sheet, index) in sheetList" :key="sheet.id">
            {{ sheet.name }}::{{ sheet.id }}
            <NuxtLink :to="`/sheet/${sheet.id}`"> <button>view</button></NuxtLink>
            or
            <button @click="() => deleteSheet(index)">delete</button>
        </li>
    </ul>
    <form @submit.prevent="createSheet">
        <p>create a new sheet:</p>
        <input placeholder="sheet name" v-model="sheetName" type="text" />
        <button type="submit">create</button>
    </form>
    <h1>Functions</h1>
    <ul>
        <li style="padding: .75vh;" v-for="(func, index) in funcList" :key="func.id">
            {{ func.name }}::{{ func.id }}
            <NuxtLink :to="`/func/${func.id}`"> <button>view</button></NuxtLink>
            or
            <button @click="() => deleteFunc(index)">delete</button>
        </li>
    </ul>
    <hr />
    <form @submit.prevent="createFunc">
        <p>create a new function</p>
        <input placeholder="function name" v-model="funcName" type="text" />
        <button type="submit">create</button>
    </form>
</template>